/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_hidden_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #include=cr-hidden-style-lit
 * #css_wrapper_metadata_end */

:host {
  align-items: center;
  background-color: rgba(241, 241, 241, .9);
  color: var(--cr-secondary-text-color);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 10;
}

@media (prefers-color-scheme: dark) {
  :host {
    /* TODO(dbeam): share with cr-dialog dialog::backdrop? */
    background-color: rgba(0, 0, 0, .6);
  }
}

#container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icon-container {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

cr-icon {
  height: 72px;
  width: 72px;
  padding: 5%;
  box-sizing: border-box;
}

#text {
  color: var(font-primary);
  font-size: 123.1%;
  font-weight: 500;
}

@media (min-width: 600px) and (max-width: 1439px) {
  .icon-container {
    width: 160px;
    height: 160px;
  }
  
  cr-icon {
    height: 96px;
    width: 96px;
  }
}

@media (min-width: 1440px) {
  .icon-container {
    width: 240px;
    height: 240px;
  }
  
  cr-icon {
    height: 144px;
    width: 144px;
  }
}

